.background {
    -fx-background-color: #1d1d1d;
}

.image-view {
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
    -fx-preserve-ratio: true;
    -fx-alignment: center;
}

.table-view {
    -fx-base: #644f36;
    -fx-control-inner-background: #644f36;
    -fx-background-color: #644f36;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}



.text-field {
    -fx-font-size: 12pt;
    -fx-base: #644f36;
}

.button:hover {
    -fx-background-color: #644f36;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}


